# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/
*.pyc

# Node / Angular
node_modules/
dist/
.angular/
*.env.local

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
